APP_PORT=8080
# Ensure this directory exists and is writable on the host
ZIM_PATH=/data/zim
# Optional: URL to download a ZIM file on startup, comment/remove to disable. Only supports one URL.
DOWNLOAD_URL="https://lb.download.kiwix.org/zim/other/openzim_en_all_maxi_2026-08.zim"