x-arcane:
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/omnitools.webp
  urls:
    - https://omnitools.app/

services:
  omni-tools:
    image: iib0011/omni-tools:latest
    container_name: omni-tools
    restart: unless-stopped
    ports:
      - "8083:80"
    labels:
      com.getarcaneapp.arcane.icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/omnitools.webp
