APP_PORT=3000 # Port to expose app on
POSTGRES_USER=postgres # Can be changed
POSTGRES_PASSWORD=mypassword # Change to secure password
JWT_SECRET=my-secret-jwt-key # Change to secure random string
TZ=Etc/UTC # timezone (ex: Europe/Paris)