x-arcane:
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/pgadmin.svg
  urls:
    - https://www.pgadmin.org/

services:
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: unless-stopped
    ports:
      - '80:80'
    env_file:
      - .env
    volumes:
      - ./pgadmin:/var/lib/pgadmin/
    labels:
      com.getarcaneapp.arcane.icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/pgadmin.svg
