APP_PORT=8001
# Name to use on the project leaderboard
DOWNLOADER=
CONCURRENT_ITEMS=2
SHARED_RSYNC_THREADS=2
# Projects (list here: https://wiki.archiveteam.org/index.php/Warrior_projects)
# Sort by status, relevant projects are marked "Active".
# Examples: `imgur`, `telegram`
SELECTED_PROJECT=
